<div class="chart-container">
  <div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <canvas id="chart1" class="bg-white rounded-lg shadow-md"></canvas>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <canvas id="chart2" class="bg-white rounded-lg shadow-md"></canvas>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <canvas id="chart3" class="bg-white rounded-lg shadow-md"></canvas>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <canvas id="chart4" class="bg-white rounded-lg shadow-md"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/js/analytics.js"></script>