  <title>Calendar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
</head>
<body>
    <button id="add-event-button" style="background-color: red; color: white;">Add Event</button>
  <div id="calendar"></div>
  <script>
    let events = [
      { id: '1', title: 'Event 1', start: '2023-03-01', end: '2023-03-02', color: 'green' },
      { id: '2', title: 'Event 2', start: '2023-03-05', end: '2023-03-07', color: 'blue' },
      { id: '3', title: 'Event 3', start: '2023-03-15', end: '2023-03-17', color: 'red' }
    ];

    $(function() {
      let calendar = $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        eventLimit: true,
        events: events,
        eventClick: function(event) {
          // Open a dialog for editing the event
          editEvent(event);
        },
        dayClick: function(date) {
          // Open a dialog for adding a new event
          addEvent(date);
        },
        eventDrop: function(event, delta, revertFunc) {
          // Handle event drop event
          // You can use AJAX to save the updated event to the server
          console.log('Event dropped:', event.title, event.start.format(), event.end.format());
        },
        eventResize: function(event, delta, revertFunc) {
          // Handle event resize event
          // You can use AJAX to save the updated event to the server
          console.log('Event resized:', event.title, event.start.format(), event.end.format());
        }
      });

      $('#add-event-button').click(function() {
        let title = prompt('Event Title:');
        let start = prompt('Start Date (MM-DD-YYYY):');
        let end = prompt('End Date (MM-DD-YYYY):');
        let color = prompt('Color (e.g. red, blue, green):');
        events.push({title: title, start: start, end: end, color: color});
        calendar.fullCalendar('renderEvent', {title: title, start: start, end: end, color: color}, true);
        // You can use AJAX to save the new event to the server
      });
      // Function for editing an event
      function editEvent(event) {
        let title = prompt('Event Title:', event.title);
        if (title) {
          event.title = title;
          calendar.fullCalendar('updateEvent', event);
          // You can use AJAX to save the updated event to the server
        }
      }
      // Function for deleting an event
      function deleteEvent(event) {
        calendar.fullCalendar('removeEvents', event._id);
        // You can use AJAX to delete the event from the server
      }
    });
  </script>
</body>
