<div class="flex flex-wrap">

  <form id="search-form">
    <div class="form-group">
      <label for="search-filter">Filter by:</label>
      <select class="form-control" id="search-criteria">
        <option value="name">Name</option>
        <option value="type">Type</option>
        <option value="muscle">Muscle</option>
      </select>
    </div>
    <div class="form-group">
      <label for="search-term">Search:</label>
      <input type="text" class="form-control" id="search-term">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  {{!-- Search Results --}}
  <div id="search-results" class="flex justify-center items-center"></div>
  <div id="favorite-results" class="flex justify-center items-center"></div>
  <div id="random-results" class="flex justify-center items-center"></div>

</div>

<script src="/js/favorites.js"></script>
