<nav class="flex justify-between px-4 pb-14 bg-bouquet shadow-md">
  <div>
    <img src="/images/breaksweatlogo.png" alt="Break Sweat logo" class="h-24 fixed drop-shadow-md">
  </div>
  <ul class="flex">
    <li class="mr-16 text-3xl"><a href="#testimonials" class="text-submarine hover:text-fiord">Testimonials</a></li>
    <li class="mr-16 text-3xl"><a href="#features" class="text-submarine hover:text-fiord">Features</a></li>
    <li><a href="/login" class="bg-tacao hover:bg-tan-hide text-white font-bold text-3xl py-2 px-4 rounded">Login</a></li>
  </ul>
</nav>

<script src="/js/navbar.js"></script>