<nav class="flex items-center justify-between flex-wrap bg-neptune p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img class="w-52" src="/images/breaksweatlogo.svg">
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 7h20v2H0V10zm0 7h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="mx-10 block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-2xl lg:flex-grow">
      <a href="/profile" id="profile-page"
        class="block underline mt-4 lg:inline-block lg:mt-0 text-white hover:text-strikemaster mr-4">
        My Profile
      </a>
      <a href="/profile/favorites" id="favorites-page"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-strikemaster mr-4">
        Favorites
      </a>
      <a href="#menu-option-4" id="logout"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-strikemaster">
        Log Out
      </a>
    </div>
    <div>
      <a href="#forums"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0">Forums</a>
    </div>
  </div>
</nav>

<script src="/js/logout.js"></script>