<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.4/tailwind.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Break-Sweat</title>
</head>

<body class="bg-body">
  {{{body}}}
</body>

<footer>
</footer>

</html>