{{!-- NavBar --}}
{{> navbar-details}}

<!-- HERO SECTION -->
<div class="flex">
  <img src="/images/exercise.png" alt="Break Sweat logo" class="pl-10 w-2/3 pt-10">
  <h1 class="flex absolute text-6xl bg-white bg-opacity-40 top-1/2 right-16">
    Get fit, stay motivated, break sweat.
  </h1>
  <button
    class="flex absolute right-10 bottom-7 text-4xl txt-shadow font-semibold mb-40 mr-14 p-20 rounded-lg shadow-md bg-tan-hide">Get
    Started NOW!</button>
</div>
</div>