 <div>
        <!-- <content wrapper-->
        <div>
            <nav>
                <div>
                    <h1 class="font-bold uppercase">
                        <a href="/">Physical Criteria Page</a>
                    </h1>
               
        <!--end nav-->
        <main>
            <div class="quiz container" id="quiz">
                <div class="quiz header">
                    <h2 id="question">Welcome to Break-A-Sweat please fill out health and fitness questions, this questionnaire is to help guide your future workouts.</h2>
                    <ul>

                        <li>
                            <input type="question 1" name="answer" id="d" class="answer">
                            <label for="d" id="a_text">Gender?</label>
                        </li>
                        <li>
                            <input type="question 2" name="answer" id="a" class="answer">
                            <label for="a" id="a_text">Age?</label>
                        </li>
                        <li>
                            <input type="question 3" name="answer" id="b" class="answer">
                            <label for="b" id="a_text">Weight?</label>
                        </li>
                        <li>
                            <input type="question 4" name="answer" id="c" class="answer">
                            <label for="c" id="a_text">Height?</label>
                        </li>

                        <li>
                            <input type="question 5" name="answer" id="d" class="answer">
                            <label for="d" id="a_text">Muscle Group?</label>
                        </li>

                        <li>
                            <input type="question 6" name="answer" id="d" class="answer">
                            <label for="d" id="a_text">Activity Type?</label>
                        </li>
                        <li>
                            <input type="question 7" name="answer" id="d" class="answer">
                            <label for="d" id="a_text">When do you pefer to workout?</label>
                        </li>
                        <li>
                            <input type="question 8" name="answer" id="d" class="answer">
                            <label for="d" id="a_text">What are your goals for this fitness journey?</label>
                        </li>
                        <li>
                            <input type="question 9" name="answer" id="d" class="answer">
                            <label for="d" id="a_text">Do you have a specific time period you would like to achieve this by?</label>
                        </li>
                    </ul>