@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-body {
    background-image: linear-gradient(180deg,
            rgba(255, 222, 215, 1) 0%,
            rgba(179, 198, 194, 1) 100%);
}

/* The modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.radio-group {
    display: flex;
  }
  
  .radio-group label {
    margin-right: 20px;
  }
  
  .search-bar,
  .dropdown {
    display: none;
    margin-top: 20px;
  }
  
  .search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
  }
  
  .dropdown select {
    width: 300px;
    padding: 10px;
  }
  
  .dropdown select option {
    padding: 10px;
  }